{% extends 'base/base.html' %}
{% load static %}

<title>{% block title %}Cadastro{% endblock %}</title>

{% block content %}

<div class="row d-flex justify-content-center">
    <ul class="list-group mt-5">
        <li class="list-group-item active text-center">CADASTRO</li>
        <li class="list-group-item text-right">
            <form method="post">
                {% csrf_token %}
                <table class="cadastro">
                    {{ form.as_table }}
                </table>
                <a href="/" class="btn btn-primary" role="button">Voltar</a>
                <button type="submit" class="btn btn-primary">Cadastrar</button> 
            </form>
        </li>
    </ul>
</div>

{% endblock %}