{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Index{% endblock %}</title>

{% block content %}

<div class="container-fluid;">

    <div class="container-fluid;">

        <div>
            <p id="vacinaWeb">VACINAWEB</p>
        </div>

        <div class="banner">
            <p> {{ banner.banner }} </p>
        </div>

        <div>
            <div>
                <p id="texto">IMPORTÂNCIA DA VACINAÇÃO</p>
            </div>

            <div id="paragrafo">
                <p>A importância da vacinação vai muito além da prevenção individual.<br />
                   Ao se vacinar, você está ajudando toda a comunidade a diminuir<br />
                   os casos de determinada doença.</p>
            </div>
        </div>

    </div>

    <div class="container-fluid;">

        <div class="row d-flex justify-content-center">

            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{% static 'assets/img/calendario.jpg' %}" alt="Nature" style="width:80%">
                </div>
            </div>

            <div class="container-fluid;">
                <div id="row">
                    <h5 class="col-md-4">ATENÇÃO</h5>
                    <p class="card-text">MANTENHA SUA VACINAÇÃO EM DIA.</p>
                </div>
            </div>

            <div class="col-md-5">
                <ol type="1">
                    <p id="linha">Alguns motivos pra manter o calendário vacinal em dia:</p>
                    <li>Salvar vidas</li>
                    <li>Proteger a família e os amigos</li>
                    <li>Controlar os sintomas de algumas doenças crônicas</li>
                    <li>Evitar a resistência a antibióticos</li>
                    <li>Segurança e eficácia</li>
                    <li>Poupar dinheiro</li>
                </ol>
            </div>

            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5">
                        <div class="thumbnail">
                            <img src="{% static 'assets/img/vacinalab.jpg' %}" alt="Nature" style="width:100%">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="{% static 'assets/img/zegotinha.jpg' %}" alt="Nature" style="width:100%">
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="thumbnail">
                            <img src="{% static 'assets/img/vacina.jpg' %}" alt="Nature" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-group">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 17rem; height: 19rem; left: 0rem;">
                    <form class="px-4 py-3" method="post">
                        <h2>Log In</h2>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                      <div class="card" style="width: 17rem; height: 19rem; left: 5rem;">
                        <div class="card-body">
                            <h4 class="card-title">PRÉ-CADASTRO</h4>
                            <p class="text-primary">O pré-cadastro agiliza o atendimento na Unidade Básica de Saúde</p>
                            <a href="cadastro" class="btn btn-primary" role="button">Cadastrar</a>  
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card" style="width: 16rem; height: 19rem; left: 11.4rem;">
                                <p class="text-primary">Você será notificado<br/>
                                                        automaticamente via<br/>
                                                        email, do vencimento<br/>
                                                        da próxima vacina.<br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="text-center text-md-start" style="background-color: #808080;">
    <div class="text-center" style="background-color: #808080;">
        Univesp 2021 - Projeto Integrador em Computação I - Polo Guararema
    </div>
</footer>
{% endblock %}