{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Vacina{% endblock %}</title>

{% block content %}

<div class="container-fluid;">

    <div class="cx1 container-fluid;">
        <p>
            {{ date }}<br>
            Bem-vindo {{ user.first_name }} {{ user.last_name }}
        </p>
    </div>

    <div class="tb3 container-fluid;">
        <table class="tb1">
            <thead>
                <tr>
                    <th>VACINA</th>
                    <th>FABRICANTE</th>
                    <th>LOTE</th>
                    <th>DATA FABRICAÇÃO</th>
                    <th>DOSE</th>
                    <th>PROFISSIONAL</th>
                    <th>REGISTRO PROFISSIONAL</th>
                    <th>UNIDADE</th>
                    <th>DATA APLICAÇÃO</th>
                    <th>DATA VALIDADE</th>
                </tr>
            </thead>
            <tbody>

                {% for item in vacina %}
                <tr>
                    <td>{{ item.vacina }}</td>
                    <td>{{ item.fabricante }}</td>
                    <td>{{ item.lote }}</td>
                    <td>{{ item.data_fabricacao }}</td>
                    <td>{{ item.dose }}</td>
                    <td>{{ item.prof }}</td>
                    <td>{{ item.reg_profissional }}</td>
                    <td>{{ item.unidade }}</td>
                    <td>{{ item.data_aplicacao }}</td>
                    <td>{{ item.data_validade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
    </div>
    
    <div class="row d-flex justify-content-center">
        <a class="btn btn-primary" href="{% url 'logout' %} ">Logout</a>
    </div>

</div>

{% endblock %}